//blue
$mainBlue: #151e27;
$secondaryBlue: #212932;
$fontBlue: #a6adb5;
$darkblue: #10151b;

$border: #80868d7e;

$fotnblueDarker: #80868d;

$mainBlueHightlight: #26313b;
$secondaryBlueHightlight: #2c3744;

//orange
$mainOrange: #fd6161;
$secondaryOrange: #5b2f2f;
$secondaryOrangeHover: #6b3737;
$fontOrange: #aa4747;

//chat
$chatMe: #424a54;
$chatAnother: #2d3743