@import "../../../../styles/colors";

.activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 203px;
  font-family: "OpenSans";
}

.block {
  height: 61px;
  width: 175px;
  background-color: $secondaryBlue;
  border-radius: 8px;
  display: flex;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);

  img {
    height: 61px;
    border-radius: 8px;
  }

  .animeData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
  }

  .title {
    color: white;
    font-family: "OpenSansSemiBold";
    font-size: 12px;
  }

  .data {
    font-size: 11px;
    color: $fontBlue
  }

  .dataSecond {
    font-size: 11px;
    color: $fontBlue
  }
}