@import "../../../styles/colors";

.playerWrapper {
  z-index: 1;
  left: 200px;
  right: 0;
  top: 66px;
  bottom: 46px;
  position: absolute;
  visibility: hidden;
  transition: all 300ms;
  outline: none;
}

.hideCursor {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
.controls {
  position: absolute;
  margin-top: -50px;
  z-index: 2;
  width: 100%;
  height: 50px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
  );
  transition: opacity ease-in-out 200ms, margin ease-in-out 200ms;
  .seeker {
      cursor: pointer;
      position: absolute;
      bottom: 37px;
      height: 3px;
      width: calc(100% - 20px);
      margin-left: 10px;
      background-color: rgba($color: #fff, $alpha: 0.3);
      border-radius: 200px;
      transition: height ease-in-out 200ms;
  }
  .seekerProgress {
      position: absolute;
      height: 100%;
      width: 0;
      background-color: $mainOrange;
      border-radius: 200px;
  }
  .seekerProgressSelect {
      height: 100%;
      width: 0;
      background-color: rgba($color: #fff, $alpha: 0.6);
      border-radius: 200px;
      position: absolute;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
  }
  .seekerPointer {
      position: absolute;
      height: 13px;
      width: 13px;
      background-color: $mainOrange;
      box-shadow: -2px 0 2px rgba(0, 0, 0, 0.25);
      border-radius: 100px;
      opacity: 0;
      left: 200px;
      transform: translate(-6.5px, -3px);
      transition: opacity 200ms ease-in-out;
  }
  .seekerTime {
      position: absolute;
      bottom: 10px;
      color: white;
      font-size: 12px;
      font-family: "Open Sans", Arial, sans-serif;
      font-weight: 600;
      opacity: 0;
      transition-property: opacity, bottom;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      pointer-events: none;
  }
  .seeker:hover {
      .seekerTime {
          bottom: 14px;
          opacity: 1;
      }
      .seekerProgressSelect {
          opacity: 1;
      }
      .seekerPointer {
          opacity: 1;
      }
  }
}

.controls:hover {
  .seeker {
      height: 7px;
  }
}
.time {
  color: white;
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
  margin-top: 7px;
  margin-right: 13px;
}
.buttons {
  position: absolute;
  bottom: 3px;
  display: flex;
  left: 10px;
}
.controlsPrevEp {
  margin-top: 3px;
  margin-right: 13px;
}
.controlsPlayPause {
  margin-top: 2px;
  margin-right: 11px;
}
.controlsNextEp {
  margin-top: 3px;
  margin-right: 10px;
}
.controlsSound {
  margin-top: 2px;
}

.buttonsRight {
  position: absolute;
  bottom: 3px;
  display: flex;
  right: 10px;
}
.controlsAudioTrack {
  margin-top: 4px;
  margin-right: 15px;
}
.controlsSubs {
  margin-top: 3px;
  margin-right: 15px;
}