@import '../../styles/colors';

.settings {
  z-index: 1;
  position: absolute;
  min-height: calc(100vh - 21px);
  width: 100%;
  background-color: $mainBlue;
  font-family: 'OpenSans';
  color: white;
  padding: 20px;
  animation-name: in;
  animation-duration: 300ms;
}

@keyframes in {
  from {
    opacity: 0;
    transform: scale(110%);
  }

  to {
    opacity: 1;
    transform: scale(100%);
  }
}


@keyframes out {
  from {
    opacity: 1;
    transform: scale(100%);
  }

  to {
    opacity: 0;
    transform: scale(110%);
  }
}

.hide {
  animation-name: out;
  animation-duration: 300ms;
}